
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<nav class="nav navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="logo">
		<img src="../../assets/img/logo.png" alt="">
	</div>
		<div class="navbar-header">
		    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
	   	    </button>
	    </div>

	<div class="navbar-collapse collapse">

	<ul class="navbar__menu">
			<li class="navbar__menu__li">
				<div class="btn-group">
	   				 <button type="button" class=" " data-toggle="dropdown">
	      		  		BICYCLES
	   				 </button>
	   			 	<ul class="dropdown-menu">
	     		 		<li><a class="hover" href="#">FIXED/SINGLE SPEED</a></li>
	      				<li><a class="hover" href="#">CITY BIKES</a></li>
	      				<li><a class="hover" href="#">PREMIUM SERIES</a></li>
	    			</ul>
	  			</div>
			</li>

			<li class="navbar__menu__li">
				<div class="btn-group">
	   				 <button type="button" class=" " data-toggle="dropdown">
	      		  		PARTS
	   				 </button>
	   			 	<ul class="dropdown-menu">
	     		 		<li><a class="hover" href="#">SOMETHING #1</a></li>
	      				<li><a class="hover" href="#">SOMETHING #2</a></li>
	      				<li><a class="hover" href="#">SOMETHING #3</a></li>
	    			</ul>
	  			</div>
			</li>

			<li class="navbar__menu__li">
				<div class="btn-group">
	   				 <button type="button" class=" " data-toggle="dropdown">
	      		  		ACCESSORIES
	   				 </button>
	   			 	<ul class="dropdown-menu">
	     		 		<li><a class="hover" href="#">SOMETHING #1</a></li>
	      				<li><a class="hover" href="#">SOMETHING #2</a></li>
	      				<li><a class="hover" href="#">SOMETHING #3</a></li>
	    			</ul>
	  			</div>
			</li>

			<li class="navbar__menu__li">
				<div class="btn-group">
	   				 <button type="button" class=" " data-toggle="dropdown">
	      		  		EXTRAS
	   				 </button>
	   			 	<ul class="dropdown-menu">
	     		 		<li><a class="hover" href="#">SOMETHING #1</a></li>
	      				<li><a class="hover" href="#">SOMETHING #2</a></li>
	      				<li><a class="hover" href="#">SOMETHING #3</a></li>
	    			</ul>
	  			</div>
			</li>

			<li class="navbar__menu__li"><a href="" class="basket"><img src="../../assets/img/basket.png" alt=""></a></li>
			
		</ul>

	</div>

	

</nav>


