<div class="categories">
	
	<div class="list text-center">
		<h2 class="head">CATEGORIES</h2>
		<ul>
			<li>
				<div class="category">
				<img class="image" src="../../assets/img/CATEGORIES_PHOTO_01.jpg" >
				<h3>FIXED/SINGLE SPEED</h3>
				<p>Are You Ready ?</p>
				<button class="but">GO TO STORE</button>
				</div>
			</li>
			
			<li>
				<div class="category" >
				<img class="image"  src="../../assets/img/CATEGORIES_PHOTO_01.jpg">
				<h3 >PREMIUM SERIES</h3>
				<p>Exclusive  Bike Components</p>
				<button class="but">GO TO STORE</button>
				</div>
		    </li>
			
			<li>
				<div class="category">
				<img class="image"  src="../../assets/img/CATEGORIES_PHOTO_01.jpg">
				<h3>CITY BIKES</h3>
				<p>Street Playground</p>
				<button class="but">GO TO STORE</button>
				</div>
			</li>
		</ul>
	</div>
</div>

