<div class="standbikes text-center">
  <h2 class="tagname text-center">POPULAR BIKES</h2>
  <ul>
  	<li>
  		<div class="popbikes">
  			<img src="../../assets/img/bike1.png" alt="">
  			<h5>FIXED GEAR</h5>
  			<p>$249.00</p>
  			<button>BUY</button>
  		</div>
  	</li>
	<li>
  		<div class="popbikes">
  			<img src="../../assets/img/bike2.png" alt="">
  			<h5>FIXED GEAR</h5>
  			<p>$249.00</p>
  			<button>BUY</button>
  		</div>
  	</li>
	<li>
  		<div class="popbikes">
  			<img src="../../assets/img/bike3.png" alt="">
  			<h5>FIXED GEAR</h5>
  			<p>$249.00</p>
  			<button>BUY</button>
  		</div>
  	</li>
  </ul>
</div>