

<div class="slider_block">
  <div id="carousel-example-generic" class="carousel slide ">
 
<ol class="carousel-indicators carousel-indicators-numbers">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">

      <img class="carousel__img" src="../../assets/img/header.jpg" >
      <div class="carousel-caption">
      <h1>HANDMADE BICYCLE</h1>
      <h3>You <span>create</span> the <span>journey</span>, we supply the <span>parts</span>.</h3>
      <button>SHOP BIKES</button>
    </div>
    </div>
    <div class="item">
      <img class="carousel__img" src="../../assets/img/velo2.jpg" >
       <div class="carousel-caption">
      <h1>HANDMADE BICYCLE</h1>
      <h3>You <span>create</span> the <span>journey</span>, we supply the <span>parts</span>.</h3>
      <button>SHOP BIKES</button>
    </div>
    </div>
    <div class="item">
      <img class="carousel__img" src="../../assets/img/velo3.jpg" >
      <div class="carousel-caption">
      <h1>HANDMADE BICYCLE</h1>
      <h3>You <span>create</span> the <span>journey</span>, we supply the <span>parts</span>.</h3>
      <button>SHOP BIKES</button>
    </div>
    </div>
  </div>

<!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
   <img class="leftarrow" src="../../assets/img/left.png" >
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
  <img  class="rightarrow" src="../../assets/img/right.png" >

  </a>
    </div>
  </div>



